<!DOCTYPE html>
<html>
<head>
    <title>Feiertage</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Feiertage</h1>
    <table>
        <tr>
            <th>Datum</th>
            <th>Name</th>
            <th>Lokaler Name</th>
        </tr>
        {% for feiertag in feiertage %}
        <tr>
            <td>{{ feiertag['Datum'] }}</td>
            <td>{{ feiertag['Name'] }}</td>
            <td>{{ feiertag['LokalerName'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
